{{#if currentUser}}
    <p>1.First step is to create a product which you are buyed from <a href="/createProduct">here</a></p>
    <p>2.You can make only one expense note for a day. But you can add or remove different products.</p>
{{else}}

<h1>Calculate you month expenses. </h1>
<p>Learn for what thing you gives your money</p>
<p>The only thing you must do is just to <a href="/users/register">register free</a></p>
<p>If you already have an account you can <a href="/users/login">login</a></p>

{{/if}}