<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Permamently remove account:</h3>
            <p><strong><h4>Warning!</h4></strong> This action is permamently. After this you can't re-activate your account. You must do new.</p>
            <a class="btn btn-danger" href="/permRemoveAccount">Remove Account</a>
        </div>
    </div>
</div>